header
{
    position: fixed;
    display: flex;
    align-items: center;
    color:#ebae1c;
    background: #5F8868;
    width: 100vw;
    padding-top: 4px;
    padding-bottom: 4px;
    
}
.header_logo
{
    height: 55px;
    margin-left: 25px;
    image-resolution:72dpi;
}
header a
{
    all:unset;
    cursor:pointer;
    font-size: 1.675rem;
    font-weight: bold;
    line-height: 1.067rem;
}
